hr {
  border-top: 3px solid var(--red-main);
}

.footer {
  margin: 0 auto;
  max-width: 140rem;
  display: grid;
  column-gap: 2rem;
  row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  padding: 3rem 5rem;
  cursor: context-menu;
}
.footer * h2 {
  margin-bottom: 3rem;
}

.footer .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__list * img {
  width: 100%;
}

.social__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.social__container * .social {
  font-size: 3rem;
  color: var(--orange-main);
}
