/*
---01typography system
-font-size
6 / 9 / 12 / 16 / 18 / 20 / 24 / 36 / 48 /  56 / 64

-font-weight
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

-line-height
p:1.5

-letter-spacing
  h1: -1px

---02color
-tint:  #FFE5D1,
-main: #500C1F, #ff7c1a
-shade: 

-tint: #808589
-grays: #495057 #343a40
-shade: #212529

---05shadow

---06 border-radius
- 9px /  4px

---07whitespace
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 200 / 500

max-width: 130rem, 

*/

/* *{
  border: 2px solid red;
} */

:root {
  --orange-main: #ff7c1a;
  --orange-main-rgb: 255, 124, 26;
  --red-main: #500c1f;
  --red-main-rgb: 80, 12, 31;
  --font-main: #343a40;
  --gray-light: #808589;
  --gray-dark: #212529;
  --bg-main: #ffe5d1;
  --bg-main-rgb: 255, 229, 209;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--font-main);
  position: relative;
}

a:link,
a:active{
  color: var(--red-main);
  text-decoration: none;
  /* display: block; */
}
a:hover{
  color: var(--orange-main);
}